<article class="w-100 shadow rounded position-relative ele-bg-color">
    <div class="d-flex position-absolute top-0 start-0">
        <!-- <div class="d-flex align-items-center">Time: </div> -->
        <button id="min" class="custom-btn border-0 bg-transparent" style="font-weight: 600;">1m</button>
        <button id="min3" class="custom-btn border-0 bg-transparent" style="font-weight: 500;">3m</button>
        <button id="min5" class="custom-btn border-0 bg-transparent" style="font-weight: 500;">5m</button>
        <button id="min15" class="custom-btn border-0 bg-transparent" style="font-weight: 500;">15m</button>
    </div>
    <canvas id="candlestickChart" class="chart-canvas"></canvas>
</article>