<section class="container-xxl pt-2 order-history">
    <article class="w-100 p-3 shadow rounded ele-bg-color">
        <ul class="nav nav-underline mb-3 order-history-nav">
            <li class="nav-item">
                <div class="nav-link order-history-nav-item active" id="position">
                    <span class="text-color">Position</span>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-link order-history-nav-item" id="order-history">
                    <span class="text-color">Order History</span>
                </div>
            </li>
        </ul>
        <!-- position -->
        <div id="position-wrap" class="d-block">
            <div class="d-flex align-items-center py-2">
                <div class="position-item">심볼</div>
                <div class="position-item">바이낸스 평단가</div>
                <div class="position-item">바이낸스 수량</div>
                <div class="position-item">바이낸스 청산가</div>
                <div class="position-item">바이낸스 수익률</div>
                <div class="position-item">업비트 평단가</div>
                <div class="position-item">업비트 수량</div>
                <div class="position-item">업비트 수익률</div>
            </div>
            <div class="d-flex align-items-center py-2">
                <div class="position-item" id="position-symbol"></div>
                <div class="position-item" id="binance-avg-price"></div>
                <div class="position-item" id="binance-qty"></div>
                <div class="position-item" id="binance-liquidation-price"></div>
                <div class="position-item" id="binance-profit"></div>
                <div class="position-item" id="upbit-avg-price"></div>
                <div class="position-item" id="upbit-qty"></div>
                <div class="position-item" id="upbit-profit"></div>
            </div>
        </div>
        <!-- order history -->
        <div id="order-history-wrap" class="d-none">
            <div class="d-flex align-items-center py-2">
                <div class="order-history-item-empty"></div>
                <div class="history-item">심볼</div>
                <div class="history-item">타입</div>
                <div class="history-item">거래시각</div>
                <div class="history-item">바이낸스 평단가</div>
                <div class="history-item">바이낸스 수량</div>
                <div class="history-item">바이낸스 수수료</div>
                <div class="history-item">업비트 평단가</div>
                <div class="history-item">업비트 수량</div>
                <div class="history-item">업비트 수수료</div>
                <div class="history-item">기준 환율</div>
                <div class="history-item">수수료 타입</div>
                <div class="history-item">프리미엄</div>
                <div class="history-item">거래 상태 / 수익률</div>
            </div>
            <div id="orders" class="orders"></div>
        </div>
    </article>
</section>
<script th:inline="javascript">
    $(() => {
        if (hasPosition) {
            const positionSymbolEle = $('#position-symbol')
            const binanceAvgPrice = $("#binance-avg-price")
            const binanceQty = $("#binance-qty")
            const binanceLiquidationPrice = $('#binance-liquidation-price')
            const upbitAvgPrice = $("#upbit-avg-price")
            const upbitQty = $("#upbit-qty")

            const { entryPrice, liquidationPrice, positionAmt } = binancePosition
            const { avg_buy_price, balance } = upbitPosition

            positionSymbolEle.text(symbol)
            binanceAvgPrice.text(Number(entryPrice).toLocaleString())
            binanceQty.text(Math.abs(Number(positionAmt)))
            binanceLiquidationPrice.text(liquidationPrice)
            upbitAvgPrice.text(Number(avg_buy_price).toLocaleString())
            upbitQty.text(balance)
        }

        const blockToNone = (ele) => ele.removeClass('d-block').addClass('d-none')
        const noneToBlock = (ele) => ele.addClass('d-block').removeClass('d-none')
        const flexToNone = (ele) => ele.removeClass('d-flex').addClass('d-none')
        const noneToFlex = (ele) => ele.addClass('d-flex').removeClass('d-none')

        $('#position').click(function () {
            $(this).addClass('active')
            $('#order-history').removeClass('active')
            blockToNone($('#order-history-wrap'))
            noneToBlock($('#position-wrap'))
        })

        $('#order-history').click(function () {
            $(this).addClass('active')
            $('#position').removeClass('active')
            blockToNone($('#position-wrap'))
            noneToBlock($('#order-history-wrap'))
        })

        if(orders.length > 0) {
            const wrapEle = $('#orders')
            const element = orders.map(myModule.generateOrder).map(v => v.element).join('')
            wrapEle.append(element)
        }

        const LOAD_ORDER_NUM = 20
        let page = 1
        let loading = false
        let done = orders.length < LOAD_ORDER_NUM

        async function getOrders(doc) {
            const { success, data } = await myModule.fetch('GET', `/api/orders?symbol=${symbol}&page=${page}`)

            if(success) {
                const element = data.map(myModule.generateOrder).map(v => v.element).join('')
                $(doc).append(element)

                if(data.length < LOAD_ORDER_NUM) {
                    done = true
                }
            }else {
                done = true
                alert(data)
            }
            
            loading = false
            page++
        }
        
        $('#orders').scroll(function() {
            if(orders.length < LOAD_ORDER_NUM || loading || done) return
            
            const scrollHeight = $(this).prop("scrollHeight")
            const currentHeight = $(this).scrollTop() + $(this).prop("clientHeight")

            if(scrollHeight - currentHeight < 150) {
                loading = true
                getOrders(this)
            }
        })
    })
</script>