<section class="container-xxl pt-2 order-history">
    <article class="w-100 p-3 shadow rounded ele-bg-color">
        <ul class="nav nav-underline mb-3 order-history-nav">
            <li class="nav-item">
                <div class="nav-link order-history-nav-item active" id="position">
                    <span class="text-color">Position</span>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-link order-history-nav-item" id="order-history">
                    <span class="text-color">Order History</span>
                </div>
            </li>
            <li id="position-info-wrap" class="d-block">
                <th:block th:replace="~{fragments/info :: bottom('해당 포지션은 거래소를 통해 가져온 데이터로 보여집니다.')}">
                </th:block>
            </li>
            <li id="history-info-wrap" class="d-none">
                <th:block th:replace="~{fragments/info :: bottom('
                    수익률은 수수료를 포함한 수익률입니다.,
                    [ 수익률 계산공식 ],
                    구매총액 = 구매 금액 + 구매 수수료 (구매 당시 환율),
                    판매총액 = 판매 금액 - 판매 수수료 (판매 당시 환율),
                    수익률 = (판매총액 - 구매 총액) ÷ 구매총액 × 100
                    ')}">
                </th:block>
            </li>
        </ul>
        <!-- position -->
        <div id="position-wrap" class="d-block">
            <div class="position-item-wrap">
                <div class="position-item d-none">
                    <div>심볼</div>
                    <div id="position-symbol"></div>
                </div>
                <div class="position-item d-none">
                    <div>바이낸스 평단가</div>
                    <div id="binance-avg-price"></div>
                </div>
                <div class="position-item d-none">
                    <div>바이낸스 수량</div>
                    <div id="binance-qty"></div>
                </div>
                <div class="position-item d-none">
                    <div>바이낸스 청산가</div>
                    <div id="binance-liquidation-price"></div>
                </div>
                <div class="position-item d-none">
                    <div>바이낸스 수익률</div>
                    <div id="binance-profit"></div>
                </div>
                <div class="position-item d-none">
                    <div>업비트 평단가</div>
                    <div id="upbit-avg-price"></div>
                </div>
                <div class="position-item d-none">
                    <div>업비트 수량</div>
                    <div id="upbit-qty"></div>
                </div>
                <div class="position-item d-none">
                    <div>업비트 수익률</div>
                    <div id="upbit-profit"></div>
                </div>
            </div>
        </div>

        <!-- <div class="d-flex align-items-center py-2">
            <div class="position-item">심볼</div>
            <div class="position-item">바이낸스 평단가</div>
            <div class="position-item">바이낸스 수량</div>
            <div class="position-item">바이낸스 청산가</div>
            <div class="position-item">바이낸스 수익률</div>
            <div class="position-item">업비트 평단가</div>
            <div class="position-item">업비트 수량</div>
            <div class="position-item">업비트 수익률</div>
        </div>
        <div class="d-flex align-items-center py-2">
            <div class="position-item" id="position-symbol"></div>
            <div class="position-item" id="binance-avg-price"></div>
            <div class="position-item" id="binance-qty"></div>
            <div class="position-item" id="binance-liquidation-price"></div>
            <div class="position-item" id="binance-profit"></div>
            <div class="position-item" id="upbit-avg-price"></div>
            <div class="position-item" id="upbit-qty"></div>
            <div class="position-item" id="upbit-profit"></div>
        </div> -->
        <!-- order history -->
        <div id="order-history-wrap" class="d-none">
            <div id="orders" class="orders"></div>
        </div>
    </article>
</section>
<script th:inline="javascript">
    $(() => {
        const positionSymbolEle = $('#position-symbol')
        const binanceAvgPrice = $("#binance-avg-price")
        const binanceQty = $("#binance-qty")
        const binanceLiquidationPrice = $('#binance-liquidation-price')
        const upbitAvgPrice = $("#upbit-avg-price")
        const upbitQty = $("#upbit-qty")
        const positionItems = $('.position-item')

        const blockToNone = (ele) => ele.removeClass('d-block').addClass('d-none')
        const noneToBlock = (ele) => ele.addClass('d-block').removeClass('d-none')
        const flexToNone = (ele) => ele.removeClass('d-flex').addClass('d-none')
        const noneToFlex = (ele) => ele.addClass('d-flex').removeClass('d-none')
        
        if (hasPosition) {
            const { entryPrice, liquidationPrice, positionAmt } = binancePosition
            const { avg_buy_price, balance } = upbitPosition

            noneToFlex(positionItems)
            positionSymbolEle.text(symbol.toUpperCase())
            binanceAvgPrice.text(Number(entryPrice).toLocaleString())
            binanceQty.text(Math.abs(Number(positionAmt)))
            binanceLiquidationPrice.text(liquidationPrice)
            upbitAvgPrice.text(Number(avg_buy_price).toLocaleString())
            upbitQty.text(balance)
        }


        $('#position').click(function () {
            $(this).addClass('active')
            $('#order-history').removeClass('active')
            blockToNone($('#order-history-wrap'))
            noneToBlock($('#position-wrap'))

            blockToNone($('#history-info-wrap'))
            noneToBlock($('#position-info-wrap'))
        })

        $('#order-history').click(function () {
            $(this).addClass('active')
            $('#position').removeClass('active')
            blockToNone($('#position-wrap'))
            noneToBlock($('#order-history-wrap'))

            blockToNone($('#position-info-wrap'))
            noneToBlock($('#history-info-wrap'))
        })

        if (orders.length > 0) {
            const wrapEle = $('#orders')
            const element = orders.map(myModule.generateOrder).map(v => v.element).join('')
            wrapEle.append(element)
        }

        const LOAD_ORDER_NUM = 10
        let page = 1
        let loading = false
        let done = orders.length < LOAD_ORDER_NUM

        async function getOrders(doc) {
            const { success, data } = await myModule.fetch('GET', `/api/orders?symbol=${symbol}&page=${page}`)

            if (success) {
                const element = data.map(myModule.generateOrder).map(v => v.element).join('')
                $(doc).append(element)

                if (data.length < LOAD_ORDER_NUM) {
                    done = true
                }
            } else {
                done = true
                alert(data)
            }

            loading = false
            page++
        }

        $('#orders').scroll(function () {
            if (orders.length < LOAD_ORDER_NUM || loading || done) return

            const scrollHeight = $(this).prop("scrollHeight")
            const currentHeight = $(this).scrollTop() + $(this).prop("clientHeight")

            if (scrollHeight - currentHeight < 150) {
                loading = true
                getOrders(this)
            }
        })
    })
</script>