<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/noFooter}">

<head>
    <title>차트</title>
    <link rel="stylesheet" th:href="@{/css/chart.css}">
    <link rel="stylesheet" th:href="@{/css/components/orderHistory.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/luxon"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>

    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial/dist/chartjs-chart-financial.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>

    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-crosshair"></script>
</head>
<main layout:fragment="content">
    <th:block th:replace="~{pages/chart/modal/marginMode}"></th:block>
    <th:block th:replace="~{pages/chart/modal/editLeverage}"></th:block>
    <section class="container-xxl d-flex justify-content-center pt-5 gap-2 main-section">
        <section class="d-flex flex-column col-9 gap-2 chart-section">
            <th:block th:replace="~{pages/chart/exchangeRate}"></th:block>
            <th:block th:replace="~{pages/chart/chart}"></th:block>
        </section>
        <section class="d-flex col-3 gap-2 order-section">
            <th:block th:replace="~{pages/chart/orderbook}"></th:block>
            <th:block th:replace="~{pages/chart/order}"></th:block>
        </section>
    </section>
    <th:block th:replace="~{pages/chart/historyAndPosition}"></th:block>
    <script type='module' th:src="@{/js/pages/chart/index.js}"></script>
    <script type='module' th:src="@{/js/elements/orderHistory.js}"></script>
    <script th:inline="javascript">
        $(() => {
            // 모듈 window.myModule을 통해 가져옴
            const {
                websocketClient,
                generateOrder,
                setSocketInitialItems,
                drawChart
            } = myModule

            /**
             * Websocket으로 update되거나 Order를 통해 update되는 element를 전부 불러옴.
            */

            // exchangeRate.html
            const exchangeRateJquery = {
                usdToKrw: $('#usdToKrw')
            }

            // orderbook.html
            const orderbookJquery = {
                asks: $('#asks'),
                bids: $('#bids'),
                premium: $('#premium')
            }

            // chart.html
            const chartJquery = {
                candlestickChart: $('#candlestickChart')
            }

            // order.html
            const orderJquery = {
                buyQtyRange: $('#buy-qty-range'),
                sellQtyRange: $('#sell-qty-range'),
                buyQtyText: $('#current-buy-qty'),
                sellQtyText: $('#current-sell-qty'),
                maxBuyQty: $('#max-buy-qty'),
                maxSellQty: $('#max-sell-qty'),
                upbitKrw: $('#upbit-krw'),
                upbitUsd: $('#upbit-usd'),
                binanceKrw: $('#binance-krw'),
                binanceUsd: $('#binance-usd'),
                orderBtn: $('#order-btn')
            }

            // modal/editLeverage.html
            const leverageModalJquery = {
                input: $('#leverage-input'),
                modalBtn: $('#update-leverage-modal'),
            }

            // orderHistory.html
            const orderHistoryJquery = {
                binanceProfit: $('#binance-profit'),
                upbitProfit: $('#upbit-profit'),
                orders: $('#orders'),
                positionSymbol: $('#position-symbol'),
                binanceAvgPrice: $("#binance-avg-price"),
                binanceQty: $("#binance-qty"),
                binanceLiquidationPrice: $('#binance-liquidation-price'),
                upbitAvgPrice: $("#upbit-avg-price"),
                upbitQty: $("#upbit-qty"),
            }

            // modal/marginMode.html
            const marginModeModalJquery = {
                isolated: $('#isolated'),
                crossed: $('#crossed'),
            }

            const { chart, chartData } = drawChart(chartJquery.candlestickChart, prices)

            const initialItems = {
                exchangeRateJquery,
                orderbookJquery,
                orderJquery,
                leverageModalJquery,
                orderHistoryJquery,
                chart,
                chartData
            }

            const handleMessage = setSocketInitialItems(initialItems)
            websocketClient.setMessageHandler(handleMessage)
            websocketClient.connect()

            let lock = false

            const updatePosition = (upbitPosition, binancePosition) => {
                const {
                    positionSymbol,
                    binanceAvgPrice,
                    binanceQty,
                    binanceLiquidationPrice,
                    upbitAvgPrice,
                    upbitQty,
                    binanceProfit,
                    upbitProfit
                } = orderHistoryJquery

                if (!upbitPosition && !binancePosition) {
                    positionSymbol.text('')
                    upbitAvgPrice.text('')
                    upbitQty.text('')
                    upbitProfit.text('')
                    binanceAvgPrice.text('')
                    binanceQty.text('')
                    binanceLiquidationPrice.text('')
                    binanceProfit.text('')
                    return
                }

                positionSymbol.text(symbol)

                const { avg_buy_price = 0, balance = 0 } = upbitPosition || {}
                if (!balance) {
                    upbitAvgPrice.text('')
                    upbitQty.text('')
                    upbitProfit.text('')
                } else {
                    upbitAvgPrice.text(Number(avg_buy_price).toLocaleString())
                    upbitQty.text(balance)
                }

                const { entryPrice = 0, liquidationPrice = 0, positionAmt = 0 } = binancePosition || {}

                if (!positionAmt) {
                    binanceAvgPrice.text('')
                    binanceQty.text('')
                    binanceLiquidationPrice.text('')
                    binanceProfit.text('')
                } else {
                    binanceAvgPrice.text(Number(entryPrice).toLocaleString())
                    binanceQty.text(Math.abs(Number(positionAmt)))
                    binanceLiquidationPrice.text(liquidationPrice)
                }

            }

            const updateWallet = (krw, usdt) => {
                const { upbitKrw, binanceUsd } = orderJquery
                upbitKrw.text(Math.round(krw).toLocaleString())
                binanceUsd.text(usdt.toLocaleString())
            }

            const updateSellQty = (binancePosition) => {
                const { sellQtyRange, buyQtyRange, maxSellQty, buyQtyText, sellQtyText } = orderJquery
                if (!binancePosition) {
                    sellQtyRange.attr('max', 0)
                    maxSellQty.text(0)
                } else {
                    const binanceQty = Math.abs(Number(binancePosition.positionAmt))
                    sellQtyRange.attr('max', binanceQty)
                    maxSellQty.text(binanceQty)
                }
                buyQtyText.text(0)
                sellQtyText.text(0)
                buyQtyRange.val(0)
                sellQtyRange.val(0)
            }

            async function buyOrder(payload) {
                const { success, data } = await myModule.fetch('POST', '/api/buy-order', payload)

                if (success) {
                    const { orders } = orderHistoryJquery
                    const { orderResponse, upbitPosition, binancePosition, usdt, krw } = data

                    // 오더 히스토리 업데이트
                    const element = myModule.generateOrder(orderResponse).element
                    orders.prepend(element)

                    updatePosition(upbitPosition, binancePosition)
                    updateWallet(krw, usdt)
                    updateSellQty(binancePosition)
                } else {
                    alert(data)
                }

                lock = false
            }

            async function sellOrder(payload) {
                const { success, data } = await myModule.fetch('POST', '/api/sell-order', payload)

                if (success) {
                    const { orders } = orderHistoryJquery
                    const { orderResponse, upbitPosition, binancePosition, usdt, krw } = data

                    // 오더 히스토리 업데이트
                    orders.children().each((i, ele) => {
                        const stringId = String(ele.id)
                        const id = Number(stringId.split('-')[1])
                        const result = orderResponse[id]
                        if (result) $(ele).html(myModule.generateOrder(result).element)
                    })

                    updatePosition(upbitPosition, binancePosition)
                    updateWallet(krw, usdt)
                    updateSellQty(binancePosition)
                } else {
                    alert(data)
                }
                lock = false
            }

            // order
            orderJquery.orderBtn.click(function () {
                if (!canTrade) return

                const orderType = $(this).text().trim()
                if (orderType !== 'BUY' && orderType !== 'SELL') return alert('새로고침 후 다시 시도해주세요.')

                const { buyQtyRange, sellQtyRange } = orderJquery

                const qty = orderType === 'BUY' ? buyQtyRange.val() : sellQtyRange.val()
                const minQty = orderType === 'BUY' ? buyQtyRange.attr('min') : sellQtyRange.attr('min')
                const maxQty = orderType === 'BUY' ? buyQtyRange.attr('max') : sellQtyRange.attr('max')

                if (Number(qty) < Number(minQty)) return alert(`주문 개수는 최소 주문 개수 보다 커야합니다. 최소 주문 개수: ${minQty}`)
                if (Number(qty) > Number(maxQty)) return alert(`주문 개수는 최대 주문 개수 보다 작아야합니다. 최대 주문 개수: ${minQty}`)

                lock = true

                const payload = {
                    symbol,
                    qty
                }

                orderType === 'BUY' ? buyOrder(payload) : sellOrder(payload)
            })
        })
    </script>
    <script th:inline="javascript">
        const param = /*[[${ param }]]*/ {};
        const [symbol] = param.symbol

        const isAnonymous = /*[[${#authentication.getPrincipal() == 'anonymousUser' ? false : true}]]*/ false;

        // 주문을 위한 심볼 정보
        const {
            maxQty = 0,
            minQty = 0,
            stepSize = 0,
            minUsdt = 0
        } = /*[[${symbolInfo}]]*/ {};

        // 주문을 위한 사용자 정보
        const {
            krw = 0,
            usdt = 0,
            marginType = 'CROSSED',
            leverage = 0,
            brackets = [],
            orders = [],
            upbitPosition = null,
            binancePosition = null
        } = /*[[${userTradeInfo}]]*/ {};

        const hasPosition = [upbitPosition, binancePosition].every(v => v !== null)
        const responseOk = maxQty !== 0 && leverage !== 0
        const canTrade = isAnonymous && responseOk

        // 차트 초기 값
        const prices = /*[[${prices}]]*/[];
    </script>
</main>

</html>