<article class="w-100 p-3 shadow rounded ele-bg-color">
    <div class="d-flex justify-content-between mb-3">
        <div>UPBIT</div>
        <div>BINANCE</div>
    </div>
    <div id="asks" class="mb-2">
        <div th:each="num : ${#numbers.sequence(1, 7)}" class="order-row d-flex justify-content-between">
            <div class="w-50 d-flex justify-content-between pe-2 upbit" style="border: 1px solid transparent">
                <div class="text-down-color fw-semibold price">
                    -,---
                </div>
                <div class="size">
                    -,---
                </div>
            </div>
            <div class="w-50 d-flex justify-content-between ps-2 binance" style="border: 1px solid transparent">
                <div class="size">
                    -,---

                </div>
                <div class="text-down-color fw-semibold price">
                    -,---
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center py-2 border-top border-bottom">
        <span id="premium" class="h5 mb-0">-,---%</span>
    </div>
    <div id="bids" class="mt-2">
        <div th:each="num : ${#numbers.sequence(1, 7)}" class="order-row d-flex justify-content-between">
            <div class="w-50 d-flex justify-content-between pe-2 upbit" style="border: 1px solid transparent">
                <div class="text-up-color fw-semibold price">
                    -,---
                </div>
                <div class="size">
                    -,---
                </div>
            </div>
            <div class="w-50 d-flex justify-content-between ps-2 binance" style="border: 1px solid transparent">
                <div class="size">
                    -,---

                </div>
                <div class="text-up-color fw-semibold price">
                    -,---
                </div>
            </div>
        </div>
    </div>
</article>