<section class="container-xxl pt-2 order-history">
    <article class="w-100 p-3 shadow rounded ele-bg-color">
        <ul class="nav nav-underline mb-3 order-history-nav">
            <li class="nav-item">
                <div class="nav-link order-history-nav-item active" id="position">
                    <span class="text-color">Position</span>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-link order-history-nav-item" id="order-history">
                    <span class="text-color">Order History</span>
                </div>
            </li>
        </ul>
        <!-- position -->
        <div id="position-wrap" class="d-block"
            th:with="hasPosition=${userTradeInfo?.upbitPosition != null && userTradeInfo?.binancePosition != null ? true : false}">
            <div class="d-flex align-items-center py-2">
                <div class="history-item">심볼</div>
                <div class="history-item">바이낸스 평단가</div>
                <div class="history-item">바이낸스 수량</div>
                <div class="history-item">바이낸스 청산가</div>
                <div class="history-item">바이낸스 수익률</div>
                <div class="history-item">업비트 평단가</div>
                <div class="history-item">업비트 수량</div>
                <div class="history-item">업비트 수익률</div>
            </div>
            <div class="d-flex align-items-center py-2" th:if="${hasPosition}">
                <div class="history-item" th:text="${#strings.toUpperCase(param.symbol)}"></div>
                <div class="history-item" id="binance-avg-price"></div>
                <div class="history-item" id="binance-qty"></div>
                <div class="history-item" id="binance-liquidation-price"></div>
                <div class="history-item" id="binance-profit"></div>
                <div class="history-item" id="upbit-avg-price"></div>
                <div class="history-item" id="upbit-qty"></div>
                <div class="history-item" id="upbit-profit"></div>
            </div>
        </div>
        <!-- order history -->
        <div id="order-history-wrap" class="d-none">
            <div class="d-flex align-items-center py-2">
                <div class="order-history-item-empty"></div>
                <div class="history-item">심볼</div>
                <div class="history-item">타입</div>
                <div class="history-item">바이낸스 평단가</div>
                <div class="history-item">바이낸스 수량</div>
                <div class="history-item">바이낸스 수수료</div>
                <div class="history-item">업비트 평단가</div>
                <div class="history-item">업비트 수량</div>
                <div class="history-item">업비트 수수료</div>
                <div class="history-item">기준 환율</div>
                <div class="history-item">수수료 타입</div>
                <div class="history-item">프리미엄</div>
                <div class="history-item">거래 상태 / 수익률</div>
            </div>
            <div class="orders" th:each="order: ${userTradeInfo.orders}" th:id="${'order-' + order.id}">
                <div class="d-flex align-items-center py-2">
                    <div th:if="${not #lists.isEmpty(order.sellOrders)}" class="order-history-item-chevron-wrap close">
                        <th:block th:replace="~{fragments/svg/chevron :: down}"></th:block>
                    </div>
                    <div th:unless="${not #lists.isEmpty(order.sellOrders)}" class="order-history-item-empty"></div>
                    <div class="history-item" th:text="${order.symbol}"></div>
                    <div class="history-item text-up-color" th:text="BUY"></div>
                    <div class="history-item" th:text="${order.binanceAvgPrice}"></div>
                    <div class="history-item" th:text="${order.binanceQty}"></div>
                    <div class="history-item" th:text="${order.binanceCommission}"></div>
                    <div class="history-item" th:text="${order.upbitAvgPrice}"></div>
                    <div class="history-item" th:text="${order.upbitQty}"></div>
                    <div class="history-item" th:text="${order.upbitCommission}"></div>
                    <div class="history-item" th:text="${order.usdToKrw}"></div>
                    <div class="history-item" th:text="${order.isMaker ? 'MAKER' : 'TAKER'}"></div>
                    <div class="history-item" th:text="${order.premium}"></div>
                    <div class="history-item" th:text="${order.close ? 'CLOSE' : 'RUN'}"></div>
                </div>
                <div class="d-none py-2" th:each="sellOrder: ${order.sellOrders}">
                    <div class="order-history-item-chevron-wrap"></div>
                    <div class="history-item">
                        <th:block th:replace="~{fragments/svg/chevron :: right-down}"></th:block>
                    </div>
                    <div class="history-item text-down-color" th:text="SELL"></div>
                    <div class="history-item" th:text="${sellOrder.binanceAvgPrice}"></div>
                    <div class="history-item" th:text="${sellOrder.binanceQty}"></div>
                    <div class="history-item" th:text="${sellOrder.binanceCommission}"></div>
                    <div class="history-item" th:text="${sellOrder.upbitAvgPrice}"></div>
                    <div class="history-item" th:text="${sellOrder.upbitQty}"></div>
                    <div class="history-item" th:text="${sellOrder.upbitCommission}"></div>
                    <div class="history-item" th:text="${sellOrder.usdToKrw}"></div>
                    <div class="history-item" th:text="${sellOrder.isMaker ? 'MAKER' : 'TAKER'}"></div>
                    <div class="history-item" th:text="${sellOrder.premium}"></div>
                    <div class="history-item" th:text="${sellOrder.profitRate + '%'}"></div>
                </div>
            </div>
        </div>
    </article>
</section>
<script th:inline="javascript">
    $(() => {
        if (upbitPosition && binancePosition) {
            const binanceAvgPrice = $("#binance-avg-price")
            const binanceQty = $("#binance-qty")
            const binanceLiquidationPrice = $('#binance-liquidation-price')
            const upbitAvgPrice = $("#upbit-avg-price")
            const upbitQty = $("#upbit-qty")

            const { entryPrice, liquidationPrice, positionAmt } = binancePosition
            const { avg_buy_price, balance } = upbitPosition

            binanceAvgPrice.text(Number(entryPrice).toLocaleString())
            binanceQty.text(Math.abs(Number(positionAmt)))
            binanceLiquidationPrice.text(liquidationPrice)
            upbitAvgPrice.text(Number(avg_buy_price).toLocaleString())
            upbitQty.text(balance)
        }

        const blockToNone = (ele) => ele.removeClass('d-block').addClass('d-none')
        const noneToBlock = (ele) => ele.addClass('d-block').removeClass('d-none')
        const flexToNone = (ele) => ele.removeClass('d-flex').addClass('d-none')
        const noneToFlex = (ele) => ele.addClass('d-flex').removeClass('d-none')

        $('#position').click(function () {
            $(this).addClass('active')
            $('#order-history').removeClass('active')
            blockToNone($('#order-history-wrap'))
            noneToBlock($('#position-wrap'))
        })

        $('#order-history').click(function () {
            $(this).addClass('active')
            $('#position').removeClass('active')
            blockToNone($('#position-wrap'))
            noneToBlock($('#order-history-wrap'))
        })

        $('.order-history-item-chevron-wrap').each(function () {
            $(this).click(function () {
                const ele = $(this)

                const nextAll = $(this).parent().nextAll()

                if (ele.hasClass('close')) {
                    ele.removeClass('close').addClass('open')
                    nextAll.each(function () { noneToFlex($(this)) })
                } else {
                    ele.removeClass('open').addClass('close')
                    nextAll.each(function () { flexToNone($(this)) })
                }
            })
        })
    })
</script>