<header th:fragment="header" class='navbar navbar-expand-lg bd-navbar sticky-top ele-bg-color'>
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
        <a class="navbar-brand p-0 me-0 me-lg-2" href="/">
            <img id="header-logo" class="h-logo" th:src="@{/images/logo-black.png}" alt="logo" />
        </a>
        <ul class="navbar-list">
            <!-- 다크모드 -->
            <li class="navbar-item" onclick="myModule.toggleDarkMode()">
                <i id="themeIcon" class="header-icon-wrap"></i>
            </li>

            <li class="navbar-item dropdown">
                <div class="header-icon-wrap" data-bs-toggle="dropdown" th:insert="~{fragments/svg/user :: line}">
                </div>
                <!-- 로그인 되었을때 -->
                <ul class="dropdown-menu dropdown-menu-end py-0" sec:authorize="isAuthenticated()">
                    <li class="navbar-item">
                        <a class="text-color header-dropdown-item" th:href="@{/user/profile}">
                            <th:block th:replace="~{fragments/svg/user :: fill}"></th:block>
                            <span>내 정보</span>
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="text-color header-dropdown-item" th:href="@{/user/order-history}">
                            <th:block th:replace="~{fragments/svg/history :: fill}"></th:block>
                            <span>주문내역</span>
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="text-color header-dropdown-item" th:href="@{/user/env-register}">
                            <th:block th:replace="~{fragments/svg/setting :: hamburger-line}"></th:block>
                            <span>API등록/수정</span>
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="text-color header-dropdown-item" th:href="@{/user/order-setting}">
                            <th:block th:replace="~{fragments/svg/setting :: fill}"></th:block>
                            <span>거래설정</span>
                        </a>
                    </li>
                    <li class="navbar-item">
                        <div class="text-color header-dropdown-item pointer logoutBtn header-logout-svg-wrap">
                            <th:block th:replace="~{fragments/svg/user :: logout-fill}"></th:block>
                            <span>로그아웃</span>
                        </div>
                    </li>
                </ul>
                <!-- 로그인 되지 않았을때 -->
                <ul class="dropdown-menu dropdown-menu-end py-0" sec:authorize="isAnonymous()">
                    <li class="navbar-item">
                        <a class="text-color header-dropdown-item" th:href="@{/login}">
                            로그인
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="text-color header-dropdown-item" th:href="@{/signup}">
                            회원가입
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<script th:inline="javascript">
    $(() => {
        $('.logoutBtn').on('click', async () => {
            const { success, data } = await myModule.fetch('post', '/api/users/logout', {})
        })
    })
</script>