<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>로그인</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/signup.css}">
    </th:block>
</head>
<body>
<main layout:fragment="content">
    <section class="container-xxl pt-5 d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-center mb-5">로그인</h2>
        <th:block th:replace="/components/authenticationBtns :: authenticationBtns"></th:block>
        <article class="wrapper" id="step2" style="display: none;">
            <form action="/#" method="post" id="loginForm">
                <label for="email" class="fs-6 form-label">이메일</label>
                <div class="mb-3">
                    <input type="text" class="form-control" id="email" name="email" placeholder="이메일을 입력해주세요.">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label fs-6">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">로그인</button>
            </form>
        </article>
    </section>
    <script th:inline="javascript">
        $('#emailLogin').on('click', () => {
            $('#step1').css('display', 'none')
            $('#step2').css('display', 'block')
        })

        $('#loginForm').on('submit', async (e) => {
            e.preventDefault()
            const email = $('#email').val()
            const password = $('#password').val()

            if(!email) return alert('이메일을 입력해주세요.')
            if(!password) return alert('비밀번호를 입력해주세요.')

            const { success, data } = await fetcher('post', '/api/users/login', { email, password })
        })
    </script>
</main>


</body>
</html>