<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

<head>
    <title>메인페이지</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<main layout:fragment="content">
    <section class="banner-image section d-flex">
        <div class="container-xxl banner-wrap">
            <article class="w-50 d-flex flex-column justify-content-center">
                <div class="mb-5">
                    <h1 class="slogan-text animate-in txt-white">
                        안전하게
                    </h1>
                    <h1 class="slogan-text animate-in txt-white">
                        쉽게
                    </h1>
                    <h1 class="slogan-text animate-in txt-white">
                        간편하게
                    </h1>
                </div>
                <div class="to-price-wrap animate-in">
                    <a class="text-black" th:href="@{/chart?symbol=btc}">
                        <button class="btn-point">
                            무료로 시작하기
                        </button>
                    </a>
                </div>
            </article>
            <article class="w-50 d-flex justify-content-center align-items-center text-light">
                <div class="symbol-info-wrap animate-in ele-bg-color">
                    <ul class="symbol-list">
                        <li class="w-100 d-flex fw-bold symbol-item">
                            <div class="symbol-header">Symbol</div>
                            <div id="upbit" class="w-25 text-end">Upbit</div>
                            <div id="binance" class="w-25 text-end">Binance</div>
                            <div id="premium" class="symbol-premium text-end">Premium</div>
                        </li>
                        <li>
                            <a id="btc" class="w-100 d-flex symbol-item" th:href="@{/chart?symbol=btc}">
                                <div class="symbol-header">
                                    <img th:src="@{/images/btc-symbol.png}" alt="btc-symbol" class="symbol-image" />
                                    <span class="text-start">BTC</span>
                                </div>
                                <div id="upbit" class="w-25 text-end">₩-,---,---</div>
                                <div id="binance" class="w-25 text-end">$-,---,---</div>
                                <div id="premium" class="symbol-premium">--.----%</div>
                            </a>
                        </li>
                        <li>
                            <a id="eth" class="w-100 d-flex symbol-item" th:href="@{/chart?symbol=eth}">
                                <div class="symbol-header">
                                    <img th:src="@{/images/eth-symbol.png}" alt="btc-symbol" class="symbol-image" />
                                    <span class="text-start">ETH</span>
                                </div>
                                <div id="upbit" class="w-25 text-end">₩-,---,---</div>
                                <div id="binance" class="w-25 text-end">$-,---,---</div>
                                <div id="premium" class="symbol-premium">--.----%</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </section>
    <section class="section">
        <article class="container-xxl d-flex info-article">
            <div class="w-50 p-3 d-flex flex-column align-items-center">
                <div class="mb-5 responsive-width">
                    <h1 class="section-title text-point-color">거래</h1>
                    <h2 class="fs-1 fw-bold">리스크는 적게</h2>
                    <h2 class="fs-1 fw-bold">수익은 크게</h2>
                    <h2 class="fs-1 fw-bold">자동으로.</h2>
                </div>
                <img th:src="@{/images/upbit.png}" alt="trade-image" class="responsive-width" />
            </div>
            <div class="w-50 p-3 d-flex flex-column align-items-center">
                <img th:src="@{/images/binance.png}" alt="trade-image" class="responsive-width" />
                <div class="mt-5 responsive-width">
                    <h2 class="fs-4 fw-bold">잠자는 동안에도 돈이 들어오는 방법을 찾지 못한다면 당신은 죽을 때까지 일을 해야만 할 것이다.</h2>
                    <h2 class="fs-6 fw-bold">- Warren Buffett -</h2>
                </div>
            </div>
        </article>
    </section>
    <script th:inline="javascript">
        const ws = new WebSocket("ws://localhost:8000/ws/premium")

        const prev = {
            'btc': {
                premium: null,
                upbit: null,
                binance: null
            },
            'eth': {
                premium: null,
                upbit: null,
                binance: null
            },
        }

        const colors = {
            default: 'var(--text-color)',
            up: 'var(--up-color)',
            down: 'var(--down-color)',
        }

        const getColor = (prevValue, currentValue) => {
            if (prevValue === null) return colors.default

            if (prevValue < currentValue) return colors.up

            if (prevValue > currentValue) return colors.down

            return colors.default
        }

        const handleMessage = (message) => {
            const dataOfJson = JSON.parse(message.data)

            const { symbol, premium, upbit, binance } = dataOfJson

            const premiumEle = $(`#${symbol}`).find('#premium')
            const upbitEle = $(`#${symbol}`).find('#upbit')
            const binanceEle = $(`#${symbol}`).find('#binance')

            premiumEle.text(premium.toLocaleString() + '%')
            upbitEle.text('₩' + upbit.toLocaleString())
            binanceEle.text('$' + binance.toLocaleString())

            const prevPremium = prev[symbol].premium
            const prevupbit = prev[symbol].upbit
            const prevBinance = prev[symbol].binance



            premiumEle.css('color', getColor(prevPremium, premium))
            upbitEle.css('color', getColor(prevupbit, upbit))
            binanceEle.css('color', getColor(prevBinance, binance))

            prev[symbol].premium = premium
            prev[symbol].upbit = upbit
            prev[symbol].binance = binance
        }

        ws.onmessage = handleMessage

        function adjustBannerHeight() {
            $('.banner-image').css('height', $(window).height());
        }

        adjustBannerHeight();
        $(window).resize(adjustBannerHeight);
    </script>
</main>

</html>