<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/myPage}">

<head>
    <title>주문내역</title>
    <link rel="stylesheet" th:href="@{/css/components/orderHistory.css}">
    <link rel="stylesheet" th:href="@{/css/orderHistory.css}">
</head>

<div layout:fragment="myPage">
    <div class="d-flex justify-content-center align-items-center w-100 h-100 text-point-color"
        th:if="${#lists.isEmpty(orders)}">
        주문내역이 비어있습니다.
    </div>
    <div id="orders">
    </div>
    <script type='module' th:src="@{/js/elements/orderHistory.js}"></script>
    <script th:inline="javascript">
        $(() => {
            const {
                generateOrder
            } = myModule

            const orders = /*[[${orders}]]*/[];

            if (orders.length > 0) {
                const wrapEle = $('#orders')
                const element = orders.map(myModule.generateOrder).map(v => v.element).join('')
                wrapEle.append(element)
            }

            const LOAD_ORDER_NUM = 10
            let page = 1
            let loading = false
            let done = orders.length < LOAD_ORDER_NUM

            async function getOrders(doc) {
                const { success, data } = await myModule.fetch('GET', `/api/orders?&page=${page}`)

                if (success) {
                    const element = data.map(myModule.generateOrder).map(v => v.element).join('')
                    $(doc).append(element)

                    if (data.length < LOAD_ORDER_NUM) {
                        done = true
                    }
                } else {
                    done = true
                    alert(data)
                }

                loading = false
                page++
            }

            $('#orders').scroll(function () {
                if (orders.length < LOAD_ORDER_NUM || loading || done) return

                const scrollHeight = $(this).prop("scrollHeight")
                const currentHeight = $(this).scrollTop() + $(this).prop("clientHeight")

                if (scrollHeight - currentHeight < 150) {
                    loading = true
                    getOrders(this)
                }
            })
        })
    </script>
</div>

</html>