<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/myPage}">

<head>
    <title>주문내역</title>
    <link rel="stylesheet" th:href="@{/css/components/orderHistory.css}">
</head>

<div layout:fragment="myPage">
    <div class="d-flex justify-content-center align-items-center w-100 h-100 text-point-color"
        th:if="${#lists.isEmpty(orders)}">
        주문내역이 비어있습니다.
    </div>
    <div id="orders">
    </div>
    <script type='module' th:src="@{/js/elements/orderHistory.js}"></script>
    <script th:inline="javascript">
        $(() => {
            const {
                generateOrder
            } = myModule

            const orders = /*[[${orders}]]*/[];

            if (orders.length > 0) {
                const wrapEle = $('#orders')
                const element = orders.map(myModule.generateOrder).map(v => v.element).join('')
                wrapEle.append(element)
            }
        })
    </script>
</div>

</html>