<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/headerFooter}">

<head>
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>

<main layout:fragment="content">
    <section class="container-xxl pt-5 d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-center mb-5">회원가입</h2>
        <th:block th:replace="~{fragments/authenticationBtns}"></th:block>
        <article class="wrapper" id="step2" style="display: none;">
            <form method="post" th:action th:object="${formDto}" id="signupForm">
                <label for="email" class="fs-6 form-label">이메일</label>
                <div class="mb-3 d-flex">
                    <div class="w-75 me-1">
                        <input type="text" class="input" id="email" th:field="*{email}" placeholder="이메일을 입력해주세요.">
                    </div>
                    <div class="w-25">
                        <button type="button" class="w-100 btn-point" id="btnEmailCheck">
                            <span id="btnEmailCheckSpinner" class="spinner-border spinner-border-sm" aria-hidden="true"
                                style="display: none;"></span>
                            이메일 확인
                        </button>
                    </div>
                </div>
                <div class="valid-warning" th:errors=*{email}></div>

                <div class="mb-3" id="codeWrap" style="display: none;">
                    <div class="w-75 me-1">
                        <input type="text" class="input" th:field="*{code}" placeholder="인증코드를 입력해주세요.">
                    </div>
                    <div class="w-25">
                        <button type="button" class="w-100 btn-point" id="codeCheck">인증</button>
                    </div>
                </div>
                <div class="valid-warning" th:errors=*{code}></div>

                <div class="mb-3">
                    <label for="password" class="form-label fs-6">비밀번호</label>
                    <input type="password" class="input" id="password" th:field="*{password}">
                    <div class="valid-warning" th:errors=*{password}></div>
                </div>

                <div class="mb-4">
                    <label for="confirmPassword" class="form-label fs-6">비밀번호 확인</label>
                    <input type="password" class="input" id="confirmPassword" name="confirmPassword">
                    <div class="valid-warning" id="passwordMatchError" style="display: none;">비밀번호가 일치하지 않습니다.</div>
                </div>

                <input type="hidden" th:field="*{encryptedCode}">
                <input type="hidden" th:field="*{accessToken}">
                <input type="hidden" th:field="*{provider}">
                <input type="hidden" th:field="*{providerId}">

                <button type="submit" class="btn-point w-100">가입하기</button>
                <script th:inline="javascript">
                    $(() => {
                        const globalErrors = /*[[${#fields.hasGlobalErrors()} ? ${#fields.globalErrors()} : null]]*/ null;
                        const hasError = /*[[${#fields.hasErrors()} ? ${#fields.hasErrors()} : null]]*/ null;
                        if (globalErrors) {
                            emailRegister()
                            myModule.showToast(globalErrors[0], false)
                        }else if(hasError) {
                            emailRegister()
                        }
                    })
                </script>
            </form>
        </article>
    </section>
    <script th:inline="javascript">
        $(() => {
            let codeOk = false
    
            const oauth = /*[[${ oauth }]]*/ null;
    
            const { showToast } = myModule
    
            if (oauth) {
                emailRegister()
                $('#email').val(oauth.email).attr('readonly', true)
                $('#btnEmailCheck').attr("disabled", true)
                $('#provider').val(oauth.provider)
                $('#providerId').val(oauth.providerId)
                $('#accessToken').val(oauth.accessToken)
            }
    
            $('#btnEmailCheck').on('click', async () => {
                const email = $('#email').val()
    
                if (String(email).trim() === '') return showToast('이메일을 입력해주세요.', false)
    
                // back단에서는 open smtp를 사용하여 처리가 불가능. 사용자한테 전가함.
                if (window.confirm("이 이메일을 사용하시겠습니까?")) {
                    $('#btnEmailCheckSpinner').css('display', 'inline-block')
                    $('#btnEmailCheck').attr("disabled", true)
    
                    const { success, data } = await myModule.fetch('post', '/api/send-email', { email })
    
                    if (success) {
                        $('#encryptedCode').val(data.code)
                        $('#codeWrap').css('display', 'flex')
                    } else {
                        $('#btnEmailCheck').attr("disabled", false)
                    }
    
                    $('#btnEmailCheckSpinner').css('display', 'none')
                }
    
            })
    
            $('#codeCheck').on('click', async () => {
                const encryptedCode = $('#encryptedCode').val()
    
                if (!encryptedCode) return showToast('이메일 인증을 다시 진행해주세요.', false)
    
                const codeVal = $('#code').val()
    
                if (String(codeVal).trim() === '') return showToast('인증코드를 입력해주세요.', false)
    
                const payload = {
                    originCode: codeVal,
                    encryptedCode: encryptedCode
                }
    
                const { success, data } = await myModule.fetch('post', '/api/check-code', payload)
    
                if (success) {
                    codeOk = true
                    showToast('인증이 완료되었습니다.', true)
                    $('#codeWrap').css('display', 'none')
                    $('#email').attr("readonly", true)
                }
            })
    
            $('#signupForm').on('submit', (e) => {
                const password = $('#password').val()
                const confirmPassword = $('#confirmPassword').val()
    
                if (!password.trim() || !confirmPassword.trim()) {
                    e.preventDefault()
                    $('#passwordMatchError').show()
                    return false
                }
    
                if (password !== confirmPassword) {
                    e.preventDefault()
                    $('#passwordMatchError').show()
                    return false
                }
    
                if (!codeOk && !oAuth) {
                    e.preventDefault()
                    showToast('이메일 인증을 완료해주세요.', false)
                    return false
                }
    
                $('#password, #confirmPassword').on('input', function () {
                    $('#passwordMatchError').hide();
                });
            })
        })
    </script>
</main>

</html>