/* #F0B90B main color */
* {
    box-sizing: border-box;
    color: var(--text-color);
    user-select: none;
    font-family: "Noto Sans KR", "Noto Sans", sans-serif;
}

body {
    background: var(--bg-color);
    color: var(--text-color)
}

a {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.valid-warning {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--down-color);
}

.btn-point {
    font-weight: 500;
    user-select: none;
    padding: .4rem .75rem;
    text-align: center;
    display: inline-block;
    border-radius: .375rem;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    color: var(--text-black);
    background-color: var(--point-color);
}

.btn-point:hover {
    opacity: .7;
}

.custom-btn {
    font-weight: 500;
    user-select: none;
    padding: .5rem .75rem;
    text-align: center;
    display: inline-block;
    border-radius: .375rem;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}

.custom-btn:hover {
    opacity: .7;
}

.input {
    display: block;
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid var(--gray3);
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input:hover {
    border-color: var(--point-color);
}

.input:focus {
    border-color: var(--point-color);
}

.input:focus-visible {
    outline: var(--point-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox  */
input[type='number'] {
    -moz-appearance: textfield;
}

/* 스크롤바 전체 */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* 상하 버튼 제거 */
::-webkit-scrollbar-button {
    display: none;
}

/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
    background: var(--gray0);
}

/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
    background: var(--gray2);
}

/* Firefox 지원 */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--gray2) var(--gray0);
}