/* #F0B90B main color */
* {
    box-sizing: border-box;
}

body {
    background: #fafafa;
}

a {
    text-decoration: none;
}

.custom-button {
    background-color: #FCD535;
    font-weight: 500;
}

.custom-button:hover {
    background-color: #FCD535;
    opacity: 0.7;
}

.valid-warning {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}