.h-logo {
    background-image: var(--logo-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 48px;
}

.navbar-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-list>li.navbar-item {
    list-style: none;
}

.header-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
}

.dropdown-menu>li.navbar-item {
    list-style: none;
    margin: .25rem;
}

.header-icon-wrap.show {
    border-radius: 50%;
    background-color: var(--bg-color);
}

.header-dropdown-item {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: .5rem .25rem;
}

.header-dropdown-item>svg {
    margin-right: .5rem;
}

.header-dropdown-item:hover {
    background-color: var(--ele-bg-color);
}

.header-logout-svg-wrap>span {
    margin-left: -5px;
}

@media(max-width: 768px) {
    .h-logo {
        width: 48px;
        background-image: var(--m-logo-url);
    }
}