.h-logo {
    height: 48px;
}

.header-wrap {
    background-color: #fff;
}

.navbar-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-list>li.navbar-item {
    list-style: none;
    padding: 0 8px;
}