.item {
    width: calc(50% - .5rem);
    padding: 1.5rem;
    border-radius: 0.8rem;
}

.profile-wrap {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    flex: 3;
    padding: 1.5rem;
    border-radius: 0.8rem;
}

.profile-title {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-tier-img {
    width: 2rem;
    height: 2rem;
    margin-right: .75rem;
}

.profile-nickname {
    font-weight: bold;
    max-width: calc(100% - 3.75rem - 110px);
    word-break: break-all;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden !important;
    line-height: 1.5rem;
    -webkit-line-clamp: 2 !important;
    margin-right: 1rem;
}

.profile-grade {
    width: 110px;
    color: var(--text-color);
}

.profile-edit {
    cursor: pointer;
}

.env-item {
    flex: 1;
    padding: 1.5rem;
    border-radius: 0.8rem;
}

.env-label-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.8rem;
}

.env-label-title {
    font-size: 0.9rem;
}

.env-value-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.env-value-title {
    font-size: 0.9rem;
    margin-right: .5rem;
}

.wallet-label {
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
}

.wallet-value {
    font-size: 1.2rem;
    font-weight: bold;
}

@media(max-width: 1024px) {
    .profile-wrap {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }

    .profile-item {
        width: 100%;
    }

    .env-item {
        width: 100%;
    }
}